* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
button,
input {
    border: none;
    outline: none;
}
.board-container {
    width: 60%;
    height: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.search-container {
    background-color: rgb(253, 253, 250);
    width: 100%;
    height: 110px;
    border: 1px solid #ddd;
    margin-top : 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form {
    height: 37px;
    display: flex;
}
.search-option {
    width: 120px;
    height: 100%;
    outline: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    color: gray;
}
.search-option > option {
    text-align: center;
}
.search-input {
    color: gray;
    background-color: white;
    border: 1px solid #ccc;
    height: 100%;
    width: 450px;
    font-size: 15px;
    padding: 5px 7px;
}
.search-input::placeholder {
    color: gray;
}
.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    width: 20%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.search-button:hover {
    color: rgb(165, 165, 165);
}
table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid rgb(39, 39, 39);
}
tr:nth-child(even) {
    background-color: #f0f0f070;
}
th,
td {
    width:300px;
    text-align: center;
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}
td {
    color: rgb(53, 53, 53);
}
.no      { width: 10%;}
.title   { width: 40%;  }
td.title   { text-align: center;  }
td.writer  { text-align: center; width: 20%; }
td.viewcnt { text-align: center; width: 10%;}
td.regdate { text-align: center; width: 20%;}
td.title:hover {
    text-decoration: underline;
}
.paging {
    color: black;
    width: 100%;
    align-items: center;
}
.page {
    color: black;
    padding: 6px;
    margin-right: 10px;
}
.paging-active {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
}
.paging-container {
    width:100%;
    height: 70px;
    display: flex;
    margin-top: 50px;
    margin : auto;
}
.btn-write {
    background-color: rgb(236, 236, 236); /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 6px 12px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
    margin-left: 30px;
}
.btn-write:hover {
    text-decoration: underline;
}